<%- include("partials/header.ejs") %>


<div class="row1">
  <div class="column1 col1" >
    <h1 style="display: inline; font-size: xx-large;" class="vendor-name"><%= entertainment.name %></h1> 
    <img class=""src="https://images.wedmegood.com/images/icons/verified-vendors/Verified+(desk+web).svg" alt="" style=" display: inline;">
    <div class = "img-div-set">
      <img class="img-centre img-set" src="<%= entertainment.imgUrl %>" >
    </div>
    <h1 style="color: brown;">VIVAAH CERTIFIED✔️</h1><h2 style="font-size: large;"></h2>(Registered on Vivaah since <%= entertainment.time %>) </h2>
    <br>
    <h2 style="font-size: large;">Industry experience- <%= entertainment.exp %> </h2>
    <br>
    <h2 style="font-size: large;">*Terms and Conditions</h2>
    <h3>50% advance is mandatory</h3>
    <h3>Outstation Travel & Stay charges borne by client</h3>    
  </div>
  <div class="column1 column-2 tab">
      <h2 style = "margin-top: 50px;">Pricings</h2>
      <h2 style = "margin-top: 10px;"><%= entertainment.pricing %> onwards</h2>
    <p style="font-size: small;">*T&C applied</p>
    <div class="column1 bg-white">
      <div class="contact-inf0">
          <div>
          <h3 class="card-title"><i class="fa fa-address-book" aria-hidden="true"></i><strong>Contact Info:-</strong> </h3>
          <p class="card-text bold"><%= entertainment.name %></p>
          <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= entertainment.city %>,<%= entertainment.state %> </p>
          <p class="card-text"><%= entertainment.mobile_no %></p>
          <p class="card-text"><%= entertainment.email %></p>

        </div>
      </div>
    </div>
   </div>
  </div>
</div>

<div class="row1">
  <div class="column1 column-1 about" >
    <h2>About <%= entertainment.name %>, <%= entertainment.city %></h2>
    <br>
    <p class="photo-intro"><%= entertainment.about %></p>
  </div>
</div>

<%- include("partials/footer.ejs") %>